.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.dbdata/#ib_16384_0.dblwr
/.dbdata/#ib_16384_1.dblwr
/.dbdata/performance_schema/accounts_145.sdi
/.dbdata/auto.cnf
/.dbdata/performance_schema/binary_log_trans_188.sdi
/.dbdata/binlog.000001
/.dbdata/binlog.000002
/.dbdata/binlog.000003
/.dbdata/binlog.000004
/.dbdata/binlog.000005
/.dbdata/binlog.000006
/.dbdata/binlog.000007
/.dbdata/binlog.index
/.dbdata/ca.pem
/.dbdata/ca-key.pem
/.dbdata/client-cert.pem
/.dbdata/client-key.pem
/.dbdata/performance_schema/cond_instances_82.sdi
/src/secure/dashboard/Dashboard.vue.js
/src/secure/dashboard/Dashboard.vue.js.map
/.dbdata/performance_schema/data_lock_waits_161.sdi
/.dbdata/performance_schema/data_locks_160.sdi
/src/interfaces/entity.js
/src/interfaces/entity.js.map
/.dbdata/performance_schema/error_log_83.sdi
/.dbdata/performance_schema/events_errors_su_139.sdi
/.dbdata/performance_schema/events_errors_su_140.sdi
/.dbdata/performance_schema/events_errors_su_141.sdi
/.dbdata/performance_schema/events_errors_su_142.sdi
/.dbdata/performance_schema/events_errors_su_143.sdi
/.dbdata/performance_schema/events_stages_cu_111.sdi
/.dbdata/performance_schema/events_stages_hi_112.sdi
/.dbdata/performance_schema/events_stages_hi_113.sdi
/.dbdata/performance_schema/events_stages_su_114.sdi
/.dbdata/performance_schema/events_stages_su_115.sdi
/.dbdata/performance_schema/events_stages_su_116.sdi
/.dbdata/performance_schema/events_stages_su_117.sdi
/.dbdata/performance_schema/events_stages_su_118.sdi
/.dbdata/performance_schema/events_statement_119.sdi
/.dbdata/performance_schema/events_statement_120.sdi
/.dbdata/performance_schema/events_statement_121.sdi
/.dbdata/performance_schema/events_statement_122.sdi
/.dbdata/performance_schema/events_statement_123.sdi
/.dbdata/performance_schema/events_statement_124.sdi
/.dbdata/performance_schema/events_statement_125.sdi
/.dbdata/performance_schema/events_statement_126.sdi
/.dbdata/performance_schema/events_statement_127.sdi
/.dbdata/performance_schema/events_statement_128.sdi
/.dbdata/performance_schema/events_statement_129.sdi
/.dbdata/performance_schema/events_statement_130.sdi
/.dbdata/performance_schema/events_transacti_131.sdi
/.dbdata/performance_schema/events_transacti_132.sdi
/.dbdata/performance_schema/events_transacti_133.sdi
/.dbdata/performance_schema/events_transacti_134.sdi
/.dbdata/performance_schema/events_transacti_135.sdi
/.dbdata/performance_schema/events_transacti_136.sdi
/.dbdata/performance_schema/events_transacti_137.sdi
/.dbdata/performance_schema/events_transacti_138.sdi
/.dbdata/performance_schema/events_waits_cur_84.sdi
/.dbdata/performance_schema/events_waits_his_85.sdi
/.dbdata/performance_schema/events_waits_his_86.sdi
/.dbdata/performance_schema/events_waits_sum_87.sdi
/.dbdata/performance_schema/events_waits_sum_88.sdi
/.dbdata/performance_schema/events_waits_sum_89.sdi
/.dbdata/performance_schema/events_waits_sum_90.sdi
/.dbdata/performance_schema/events_waits_sum_91.sdi
/.dbdata/performance_schema/events_waits_sum_92.sdi
/.dbdata/performance_schema/file_instances_93.sdi
/.dbdata/performance_schema/file_summary_by__94.sdi
/.dbdata/performance_schema/file_summary_by__95.sdi
/.dbdata/mysql/general_log.CSM
/.dbdata/mysql/general_log.CSV
/.dbdata/mysql/general_log_211.sdi
/.dbdata/performance_schema/global_status_180.sdi
/.dbdata/performance_schema/global_variables_183.sdi
/.dbdata/performance_schema/host_cache_96.sdi
/.dbdata/performance_schema/hosts_146.sdi
/.dbdata/ib_buffer_pool
/.dbdata/ib_logfile0
/.dbdata/ib_logfile1
/.dbdata/ibdata1
/.dbdata/ibtmp1
/src/store/index.js
/src/store/index.js.map
/.dbdata/performance_schema/keyring_keys_152.sdi
/.dbdata/performance_schema/log_status_173.sdi
/src/main.js
/src/main.js.map
/.dbdata/performance_schema/memory_summary_b_154.sdi
/.dbdata/performance_schema/memory_summary_b_155.sdi
/.dbdata/performance_schema/memory_summary_b_156.sdi
/.dbdata/performance_schema/memory_summary_b_157.sdi
/.dbdata/performance_schema/memory_summary_g_153.sdi
/.dbdata/performance_schema/metadata_locks_159.sdi
/.dbdata/admin/migrations.ibd
/.dbdata/performance_schema/mutex_instances_97.sdi
/.dbdata/mysql.ibd
/.dbdata/admin/oauth_access_tokens.ibd
/.dbdata/admin/oauth_auth_codes.ibd
/.dbdata/admin/oauth_clients.ibd
/.dbdata/admin/oauth_personal_access_clients.ibd
/.dbdata/admin/oauth_refresh_tokens.ibd
/.dbdata/performance_schema/objects_summary__98.sdi
/.dbdata/admin/order_items.ibd
/.dbdata/admin/orders.ibd
/.dbdata/performance_schema/performance_time_99.sdi
/src/classes/permission.js
/src/classes/permission.js.map
/.dbdata/admin/permissions.ibd
/.dbdata/performance_schema/persisted_variab_186.sdi
/.dbdata/performance_schema/prepared_stateme_174.sdi
/.dbdata/private_key.pem
/.dbdata/performance_schema/processlist_100.sdi
/.dbdata/admin/products.ibd
/.dbdata/public_key.pem
/.dbdata/performance_schema/replication_appl_165.sdi
/.dbdata/performance_schema/replication_appl_166.sdi
/.dbdata/performance_schema/replication_appl_167.sdi
/.dbdata/performance_schema/replication_appl_168.sdi
/.dbdata/performance_schema/replication_appl_170.sdi
/.dbdata/performance_schema/replication_appl_171.sdi
/.dbdata/performance_schema/replication_asyn_172.sdi
/.dbdata/performance_schema/replication_conn_162.sdi
/.dbdata/performance_schema/replication_conn_164.sdi
/.dbdata/performance_schema/replication_grou_163.sdi
/.dbdata/performance_schema/replication_grou_169.sdi
/src/classes/role.js
/src/classes/role.js.map
/.dbdata/admin/role_permission.ibd
/.dbdata/admin/roles.ibd
/.dbdata/performance_schema/rwlock_instances_101.sdi
/.dbdata/server-cert.pem
/.dbdata/server-key.pem
/.dbdata/performance_schema/session_account__151.sdi
/.dbdata/performance_schema/session_connect__150.sdi
/.dbdata/performance_schema/session_status_181.sdi
/.dbdata/performance_schema/session_variable_184.sdi
/.dbdata/performance_schema/setup_actors_102.sdi
/.dbdata/performance_schema/setup_consumers_103.sdi
/.dbdata/performance_schema/setup_instrument_104.sdi
/.dbdata/performance_schema/setup_objects_105.sdi
/.dbdata/performance_schema/setup_threads_106.sdi
/.dbdata/mysql/slow_log.CSM
/.dbdata/mysql/slow_log.CSV
/.dbdata/mysql/slow_log_212.sdi
/.dbdata/performance_schema/socket_instances_147.sdi
/.dbdata/performance_schema/socket_summary_b_148.sdi
/.dbdata/performance_schema/socket_summary_b_149.sdi
/.dbdata/performance_schema/status_by_accoun_176.sdi
/.dbdata/performance_schema/status_by_host_177.sdi
/.dbdata/performance_schema/status_by_thread_178.sdi
/.dbdata/performance_schema/status_by_user_179.sdi
/.dbdata/sys/sys_config.ibd
/.dbdata/performance_schema/table_handles_158.sdi
/.dbdata/performance_schema/table_io_waits_s_107.sdi
/.dbdata/performance_schema/table_io_waits_s_108.sdi
/.dbdata/performance_schema/table_lock_waits_109.sdi
/.dbdata/#innodb_temp/temp_1.ibt
/.dbdata/#innodb_temp/temp_2.ibt
/.dbdata/#innodb_temp/temp_3.ibt
/.dbdata/#innodb_temp/temp_4.ibt
/.dbdata/#innodb_temp/temp_5.ibt
/.dbdata/#innodb_temp/temp_6.ibt
/.dbdata/#innodb_temp/temp_7.ibt
/.dbdata/#innodb_temp/temp_8.ibt
/.dbdata/#innodb_temp/temp_9.ibt
/.dbdata/#innodb_temp/temp_10.ibt
/.dbdata/performance_schema/threads_110.sdi
/.dbdata/performance_schema/tls_channel_stat_189.sdi
/.dbdata/undo_001
/.dbdata/undo_002
/src/classes/user.js
/src/classes/user.js.map
/.dbdata/performance_schema/user_defined_fun_187.sdi
/.dbdata/performance_schema/user_variables_b_175.sdi
/.dbdata/admin/users.ibd
/.dbdata/performance_schema/users_144.sdi
/.dbdata/performance_schema/variables_by_thr_182.sdi
/.dbdata/performance_schema/variables_info_185.sdi
/.dbdata/binlog.000008
/.dbdata/binlog.000009
